.whole{
    width: 1000px;
    height: 800px;
    border: 1px solid white;
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
    padding: 1px;
    text-align: center;
   background: no-repeat linear-gradient(#9ED8DB,white);
}
body{
	background-color: #ABBFE7;
    
}

.dot {
  height: 250px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: dotted #D64045 2px;
}

h1{
	color: #D64045;
   
}

h2{
	color: #D64045;
}

.box{
	background-color: #467599;
    width: 800px;
    height: 150px;
    color: white;
}
.box-2{
	background-color: #467599;
    width: 800px;
    height: 150px;
    color: white;
}
.box-3{
	background-color: #467599;
    width: 800px;
    height: 150px;
    color: white;
}

.box-4{
	background-color: #467599;
    width: 800px;
    height: 150px;
    color: white;
}
.container{
  display: flex;
  margin: auto;
  width: 60%; 
  padding: 10px;
  }
button{
	 font-size:11px;
}
